@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../assets/fonts/ManropeMedium.woff2") format("woff2"),
    url("../../assets/fonts/ManropeMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../assets/fonts/ManropeSemiBold.woff2") format("woff2"),
    url("../../assets/fonts/ManropeSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("../../assets/fonts/ManropeBold.woff2") format("woff2"),
    url("../../assets/fonts/ManropeBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


