.boxSwiper {
    border-radius: 18px;
    padding: 12px;
    background: var(--white);
    margin-bottom: 8px;
    .boxTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .title {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: var(--secondary);
        }

        .link {
            font-weight: 600;
            font-size: 12px;
            line-height: 140%;
            color: var(--primary);
        }
    }
}