.boxLink {
  width: 100%;

  .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .item {
      max-width: 64.2px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        .img {
          // max-width: 40px;
          width: 100%;
          
        }

        .descr {
          font-weight: 600;
          font-size: 10px;
          line-height: 140%;
          text-align: center;
          color: var(--muted);
        }
      }
    }
  }
}
