.header {
  background-color: var(--white);
  border-radius: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  .infoUserBox {
    display: flex;
    align-items: center;

    .imgRang {
      width: 14px;
      height: 14px;
      margin-right: 2px;
      border-radius: 50%;
    }

    .svgImgBox {
      background-color: var(--muted);
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      margin-right: 4px;

      .imgSvg {
        border-radius: 100px;
      }

      .svg path {
        fill: var(--white);
      }
    }

    .infoUser {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: var(--secondary);
      }

      .skeletonTitle {
        height: 17px;
        width: 150px;
        background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
        border-radius: 8px;
        margin-bottom: 3px;
      }

      .descr {
        display: flex;
        align-items: center;

        .span {
          font-weight: 600;
          font-size: 10px;
          line-height: 140%;
          color: var(--muted);
        }
      }

      .descrSkeleton {
        height: 14px;
        width: 100px;
        background: linear-gradient(90deg, #a5a7a7 0%, #404141 100%);
        border-radius: 8px;
      }
    }
  }

  .countBox {
    display: flex;
    align-items: center;
    gap: 8px;

    .count {
      display: flex;
      align-items: center;
      border: 1px solid var(--muted);
      border-radius: 16px;
      padding: 5px 8px;
      justify-content: center;

      .countSvg {
        background: var(--primary);
        width: 21px;
        height: 21px;
        border-radius: 100%;
        padding: 3px;
        margin-right: 4px;
      }

      .countSvg path {
        fill: var(--white);
      }

      .value {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: var(--primary);
        display: flex;
      }

      .skeletonLoad {
        border: 3px solid rgba($color: #3461e0, $alpha: 0.2);
        border-bottom-color: var(--primary);
        max-width: 16px;
        max-height: 16px;
      }
    }

    .btn {
      background: var(--primary);
      border-radius: 40px;
      padding: 8px;
    }
  }
}

.boxInfo {
  display: flex;
  flex-direction: column;
  height: 100%;

  .imgInfo {
    margin-bottom: 20px;
  }

  .titleInfo {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--primary);
    margin-bottom: 8px;
  }

  .descrInfo {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: var(--primary);
    margin-bottom: 16px;
  }

  .boxTitle {
    margin-bottom: 16px;

    .titleBoxInfo {
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: var(--secondary);
      margin-bottom: 4px;
    }

    .descrBoxInfo {
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: var(--primary);
      margin-bottom: 4px;
      .spanInfo {
        color: var(--muted);
      }
    }
  }

  .descrCoinInfo {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: var(--muted);
    margin-bottom: auto;
  }

  .btnInfo {
    width: 100%;
    border-radius: 16px;
    padding: 12px;
    background: var(--primary);
    color: var(--white);
    margin: 12px 0;
  }
}
